<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_reminder_path(@reminder), class: 'uk-button uk-button-primary uk-display-inline-block uk-margin-small-right' %>
<%= link_to 'Back', reminders_path, class: 'uk-button uk-button-default uk-display-inline-block uk-display-inline-block ' %>
